<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd">
<mapper namespace="database.bankdb.dao.daointerfaces.ICustomersDAO">
    <resultMap id="customerResultMap" type="Customer" autoMapping="false">
        <id column="customer_id" property="customer_id"/>
        <result column="account_id" property="accountId"/>
        <result column="firstname" property="firstname"/>
        <result column="lastname" property="lastname"/>
        <result column="address" property="address"/>
        <result column="email_address" property="emailAddress"/>
        <result column="phone" property="phone"/>
        <result column="ssn" property="ssn"/>
    </resultMap>
    <select id="getEntityById" parameterType="int" resultMap="customerResultMap">
        SELECT * FROM customers
        WHERE customer_id = #{customer_id};
    </select>
    <select id="getPhoneById" parameterType="String" resultMap="customerResultMap">
        SELECT phone FROM customers
        WHERE customer_id = #{customer_id};
    </select>
    <insert id="insertEntity" keyProperty="customer_id">
        INSERT INTO customers (account_id, firstname, lastname, address, email_address, phone, ssn)
        VALUES (#{accountId}, #{firstname}, #{lastname},#{address}, #{emailAddress}, #{phone}, #{ssn});
    </insert>
    <select id="getAllEntities" resultMap="customerResultMap">
        SELECT * FROM customers;
    </select>
    <delete id = "removeEntity" parameterType = "int">
        DELETE from customers WHERE customer_id = #{customer_id};
    </delete>
    <update id="updateEntity" parameterType = "Customer">
        UPDATE customers SET
        account_id = #{accountId},
        firstname = #{firstname},
        lastname = #{lastname},
        address = #{address},
        email_address = #{emailAddress},
        phone = #{phone},
        ssn = #{ssn}
        WHERE customer_id = #{customer_id};
    </update>
</mapper>